[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
fastapi = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
